@{
    ViewData["Title"] = "Bienvenida";
    ViewBag.OcultarNavbar = true;
}

<div class="bienvenida-container text-center">
    <h1 class="bienvenida-title">¡Bienvenido a RaizesBlas!</h1>
    <a asp-controller="Autenticacion" asp-action="Login"
        class="btn bienvenida-btn bienvenida-btn-primary btn-lg">Iniciar sesión
        <i class="bi bi-door-open-fill"></i>
    </a>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/BienvenidaStyle.css" />
}