@model inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Registro de Usuario";
    ViewBag.OcultarNavbar = true;
}

<div class="registro-main-container">
    <form asp-action="Registro" method="post" enctype="multipart/form-data" class="registro-form">
        <div class="registro-title">Registro de Usuario</div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Contrasena" class="form-label">Contraseña</label>
            <input asp-for="Contrasena" class="form-control" type="password" />
            <span asp-validation-for="Contrasena" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Apellido" class="form-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Rol" class="form-label"></label>
            <select asp-for="Rol" class="form-select">
                <option value="empleado">Empleado</option>
                <option value="administrador">Administrador</option>
            </select>
            <span asp-validation-for="Rol" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Imagen de perfil</label>
            <input type="file" name="AvatarFile" class="form-control" accept="image/*" />
        </div>
        <button type="submit" class="btn btn-registro">Registrar</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary w-100 mt-2">Cancelar</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
}